.main_div{
  height: 100vh;
  width: 100vw;
  background-color:darkcyan ;
  display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 400;
 font-weight: bold;
}
.inner_div{
  height: 70vh;
  width: 40vw;
  background-color:lightcyan;
  align-items: center;
  border-radius: 25px;
  }
.inner_div h1 {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: darkcyan;
  
}
.form{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  padding-top: 50px;
}
.inner_div label{
  color: darkcyan;
}
.inner_div p{
  color: darkcyan;
}
.inner_div button{
  background-color: darkcyan;
}
.form_error{
  color: red;
}